.bridgeList {
  width: 100%;
  display: flex;

  button {
    flex-grow: 1;
  }
}
.frmManualEntry {
  width: 100%;
  display: flex;
  input {
      border: 1px;
      border-radius: 3px;
      padding: 7px;
  }
  span {
      display: flex;
      width:100%;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }
}
