$unselectedChk-color: #868686;
$selectedChk-color: #fff;

@mixin chkBox {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  border: solid;
  border-radius: 25px;
  padding: 1em 1.25em 1em 0.75em;
  margin: 5px;
  transition: 0.4s;

  input {
    display: none;
  }
}

.frmLightSelect {
  display: flex;
  flex-flow: row wrap;

  .icoLightChk {
    margin: 0 0.5em;
  }

  .chkLight {
    @include chkBox();
    border-color: $unselectedChk-color;
    color: $unselectedChk-color;

    &-selected {
      @include chkBox();
      background: #5a5454; //white;
      border-color: $selectedChk-color;
      color: $selectedChk-color;
    }
  }
}
