body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.sideMenu {
  width: 100%;
  padding: 0;
}

.sideMenu a {
  color: white;
  text-decoration: none;
}

.menuItem {
  list-style-type: none;
  text-align: left;
  padding: 1em 0 1em 2em;
  transition: 0.3s;

  &:hover {
    /* background-color: #111111; */
    background-color: #db1e05;
    padding: 1em 0 1em 3em;
  }
}

button {
  position: relative;
  padding: 1em;
  border: none;
  background: #14161a;
  color: #fff;
  box-shadow: 0 6px #0b0b0e;
  border-radius: 3px;

  &:hover {
    top: 2px;
    box-shadow: 0 4px #0b0b0e;
    font-weight: bold;
  }

  &:active {
    top: 6px;
    box-shadow: 0 0 #0b0b0e;
    font-weight: bold;
  }
}

.errorMsg {
  color: red;
  border: solid red;
  padding: 0.5em;
  margin: 2em 0;

  &-fade {
    -webkit-animation: fadeOut 5s;
    animation: fadeOut 5s;
    animation-fill-mode: forwards;
  }
}

.mainContainer {
  height: 100vh;
  flex-grow: 1;
  margin-left: 2em;
  overflow-y: scroll;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0.01;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0.01;
  }

  100% {
    opacity: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
